.card{
    padding-top: 10px ;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px  !important;
    margin-bottom: 10px;
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    border: 1px solid #8d8c8c !important;

}



/* link que ainda não foi acessado */
.afooter a {
    text-decoration: none;

 }
 /* link que foi visitado */
 .afooter a:visited {
     color: #fcfcfc;
 }
 /* quando o ponteiro do mouse passa no link */
.afooter a:hover {
     color: #999;
 }
 /* quando o link for selecionado */
 .afooter a:active {
     color: #fd0000;
 }

footer{

    background-color: black;
    color:white;

}

#Face {

    margin-left: 20px;
    margin-right: 20px;

}
#Insta {

    margin-left: 20px;
    margin-right: 20px;

}
#What {

    margin-left: 20px;
    margin-right: 20px;

}

#Phone{

    margin-right: 10px;

}

.col{

    text-align: center;
}

.form-control{

    border: 2px solid;
    border-radius: 20px;
}

.col-6{

    margin-top: 50px;
}



.pagination {
    display: inline-block;
    text-align: center !important;
  }

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}


#number{

    color:white;
  }

#titulo{

    margin-top: 40px;
    margin-bottom: 40px;

  }

#contatext{

  text-align: justify;
 }


.imagem-p{

  text-align: center;
  object-fit: cover;

 }


#Heart{

  display: flex;
  justify-content: end;

 }

#Mark{

  display: flex;
  justify-content: end;

 }

footer i {

 font-size: 30px;

 }

#Coment{
  margin-bottom: 0px;

 }

#testezao{

  background-image: url(./img/Paisagem.jpg);

 }



.pose{
  position: relative;
  bottom:140px;
 left: -30px;
}


